# Yeh file copy karke ".env" naam se save karein, fir apni keys daalein

VITE_SUPABASE_URL=yahan_apna_supabase_project_url_daalein
VITE_SUPABASE_ANON_KEY=yahan_apni_supabase_anon_key_daalein

# Razorpay Keys (Secret key kabhi bhi public nahi karni)
VITE_RAZORPAY_KEY_ID=yahan_apni_razorpay_key_id_daalein
VITE_RAZORPAY_PLAN_ID=plan_T8uv8ubtqXG0JD
